.feed {
    flex: 0.5;
    margin: 0 20px;
}

.feed-input-container {
    background-color: white;
    padding: 10px;
    padding-bottom: 5px;
    border-radius: 10px;
    margin-bottom: 20px;
}


.feed-input {
    border: 1px solid lightgray;
    border-radius: 30px;
    display: flex;
    padding: 10px;
    color: gray;
    padding-left: 15px;
}

.feed-input form {
    display: flex;
    width:100%;
}

.feed-input form input {
    padding-left: 10px;
    border: none;
    flex: 1;
    border-radius: 30px;
    color: gray;
    font-weight: 600;
    outline-width: 0;
}

.feed-input button {
    display: none;
}

.feed-input-options {
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
    margin-left: 10px;
}